.fd-c{display: flex;
    flex-direction: column}
.fd-r{display: flex;
    flex-direction: row}

.width340{width: 340px}
.width100{width: 100px}
.height100{height: 100px}
.height150{height: 150px}
.height400{height: 400px}

.bg-top{background-color: #2269bb}
.bg-centr{background-color: #16457a;}
.text-centr{display: flex;
justify-content: center;
text-align: center;
align-items: center}

.marginleft{margin-left: 20px}
.marginright{margin-right: 20px}
.marginbottom{margin-bottom: 20px}
.margintop{margin-top: 20px}

