.main{
    display: flex;
    flex-direction: column;

}
.top{
    width: 350px;
    height: 150px;
    background-color: #6395ec;


}
.centr_yonger{
    width: 100px;
    height: 100px;
    background-color: #1515ec;

}
.centr{display: flex;
flex-direction: row;
margin-top: 25px;
    margin-bottom: 25px;
}

.bottom{
    width: 350px;
    height: 300px;
    background-color: #6395ec;

}
#simple{margin-right: 25px;
margin-left: 25px}
h2{text-align: center;
}

.main>.top>h2{margin-top: 60px}
.main>.bottom>h2{margin-top: 120px}
/*Як інакше відцентрувати текст по вертикалі?*/