.top{width: 600px;
height: 100px;
background-color: silver;
margin-left: 10px;
margin-right: 10px}

.mini{width: 100px;
height: 100px;
background-color: silver;
    margin: 10px;
}

.box_mini{
    width: 370px;
    height: 260px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;}

.H{ width: 240px;
height: 230px;
background-color: silver;
margin-top: 10px;
margin-bottom: 20px;
}


.bottom{
    display: flex;
    flex-direction: row;
}
