.father{
    display: flex;
    flex-wrap: wrap;


}
.usercard{border: gray solid 1px;
    border-radius: 10px;
    background: #f6f5f5;
    padding: 10px;
    margin: 10px;
display: flex;
    flex-direction: column;
    justify-content: center;
}

.usercard .postButton{margin-top: 5px}
.usercard .commentButton{margin-top: 5px}

.postButton{cursor: pointer}
.commentButton{cursor: pointer}

.usercard:hover{background-color: gainsboro}

.PostsCard{
    border: black solid 1px;
    border-radius: 10px;
    background: #f5f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 3px;
}

.PostsCard h3{margin: 5px}
.PostsCard h4{margin: 5px}
.PostsCard h5{margin: 5px}

.CommentsCard{
    border: black solid 1px;
    border-radius: 10px;
    background: #e8c0c0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 3px;
}

.CommentsCard h2{margin: 5px}
.CommentsCard h3{margin: 5px}
.CommentsCard h4{margin: 5px}
.CommentsCard h5{margin: 5px}

